body {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.couple {
  display: flex;
}

.matriz {
  padding-top: 60px;
}

.holder {
  display: flex;
  gap: 30px;
  align-items: center;

  justify-content: center;
  width: 100%;
}

input::-webkit-file-upload-button {
  visibility: hidden;
}

input::before {
  content: "Selecione um arquivo";
  display: inline-block;

  border-radius: 3px;

  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;

  font-weight: 700;

  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;

  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 250px;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:hover::before {
  border-color: black;
}

input:active::before {
  opacity: 0.8;
}

.button-36 {
  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;

  font-size: 16px;
  font-weight: 500;
  height: 50px;
  width: 250px;
  padding: 0.6em 2em;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.lista {
  width: min-content;
  min-width: 600px;
}

.documents {
  display: flex;
  flex-direction: column;

  grid-gap: 20px;
  padding-left: 65px;
}

.delete {
  width: 350px !important;
}

.button-85 {
  height: 50px;
  width: 250px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:hover {
  opacity: 0.9;
}

.gridElement {
  border: 1px solid rgb(40, 39, 39);
  padding: 8px;
  background-image: linear-gradient(92.88deg,
      #673fd7 9.16%,
      #5643cc 43.89%,
      #455eb5 64.72%);

  color: white;
}

.gridElement:nth-child(even) {
  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
}

.gridElement:hover {
  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
}

.flex {
  display: flex;
}

.flexColumn {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexElement {
  border: 1px solid rgb(40, 39, 39);
  padding: 8px;
  background-image: linear-gradient(92.88deg,
      #673fd7 9.16%,
      #5643cc 43.89%,
      #455eb5 64.72%);

  color: white;
  min-width: 100px;
}

.flexElement:nth-child(even) {
  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
}

.flexElement:hover {
  background-image: linear-gradient(92.88deg,
      #455eb5 9.16%,
      #5643cc 43.89%,
      #673fd7 64.72%);
}