<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Topsis Score</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'scores.css' %}">
    </head>

    <body>
        {% if documents %}
            All documents in the database:
            <ul>
                {% for document in documents %}
                    <form action="{% url "topsis-score" %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" value="{{ document.docfile.url }}" name="filename">{{ document.docfile.name }}</button>
                    </form>

                {% endfor %}
            </ul>
        {% else %}
            <p>No documents.</p>
        {% endif %}

        <!-- Upload form. -->
        <form action="{% url "my-view" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <p>{{ message }}</p>
            
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>

        

    </body>
</html>
